@import "./variables/variables.scss";

body{
    padding: 0px;
    margin:0px;
    background-color: $dark;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
